<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Niilano!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content ion-no-padding">
  
  <!-- <h3 class="text-dark">
    Getting Started
  </h3> -->

  <ion-item>
    <ion-icon slot="start" color="danger" name="browsers-sharp"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>Browse our selection</h2>
      <p>
        Explore our wide range of products, items and listings available for
        purchase or rent.
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="danger" name="filter-circle-sharp"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>Filter and search</h2>
      <p>
        Use filters and search options to find exactly what you're looking for.
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="danger" name="add-circle-sharp"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>Add to your Catalog & Earn</h2>
      <p>List products, rent items, and offer services to a global audience.</p>
    </ion-label>
  </ion-item>
  

  <!-- <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Add to cart</h2>
            <p>Add products to your cart and proceed to checkout.</p>
          </ion-label>
        </ion-item> -->

  <!-- <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Rent or purchase</h2>
            <p>Choose your interested rental item or proceed with the purchase of products from sellers.</p>
          </ion-label>
        </ion-item> -->

  <!-- <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Payment options</h2>
            <p>Pay securely using various payment methods.</p>
          </ion-label>
        </ion-item> -->

  <ion-item>
    <ion-icon slot="start" color="danger" name="call-sharp"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>Request products</h2>
      <p>
        Contact sellers or request a call back for an item by clicking on the
        call button of every product.
      </p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" color="danger" name="help-circle-sharp"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>Need help?</h2>
      <p>
        Contact our support team via in-app chat or email us at
        support@niilano.com.
      </p>
    </ion-label>
  </ion-item>

  <!-- <ion-text class="ion-text-center">
        <h3>Thanks for choosing Niilano, and happy shopping!</h3>
      </ion-text> -->
</ion-content>
