.itemsImg{
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
  
.image-wrapper {
    position: relative;
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
  
  .image-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }

  .swiper-button-next{
    display: none !important;
  }
  