<ion-grid class="">
  <ion-text class="ion-text-left text-dark" color="dark">
    <h3 class="my-2">Shop from Categories</h3>
  </ion-text>

  <swiper-container
    class="text-dark"
    [breakpoints]="breakpoints"
  >
    <swiper-slide [id]="category.name" style=" cursor: pointer;" *ngFor="let category of categories" class="category-col" >
      <ion-list class="text-center p-0" style="background: transparent">
        <img
          class="rounded-circle border border-1 border-primary"
          src="{{ category.image.url }}"
          alt="{{ category.name }}"
          onerror="this.src='../../../assets/images/electronics.jpg'"
        />
        <p class="m-0"
          style="
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.8em;
          "
        >
          {{ category.name }}
        </p>
      </ion-list>

      <ion-popover
        cssClass="my-popover"
        side="right"
        *ngIf="category.Subcategories"
        [trigger]="category.name"
        triggerAction="click"
      >
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item
                *ngFor="let sub of category.Subcategories"
                (click)="productFilter(category.id, sub.id)"
                style="cursor: pointer"
              >
                <ion-thumbnail slot="start">
                  <img
                    class="rounded-circle"
                    [alt]="sub.name"
                    src="{{ sub.image.url }}"
                  />
                </ion-thumbnail>
                <ion-label>{{ sub.name }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </swiper-slide>
  </swiper-container>

  <!-- <ion-button class="d-block d-sm-none" id="open-modal" expand="block" style="--background: #1A4640;">View all
    Categories</ion-button> -->
</ion-grid>

<ion-modal
  [initialBreakpoint]="0.8"
  [breakpoints]="[0, 0.85]"
  #modal
  trigger="open-modal"
>
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>All Categories</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="modal.dismiss()">
            <ion-icon name="close" class="text-light" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-list style="background: #fff">
        <ion-item
          lines="none"
          [id]="'pop' + category.id"
          *ngFor="let category of categories"
        >
          <ion-avatar slot="start">
            <ion-img src="{{ category.image.url }}"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
          </ion-label>

          <ion-popover
            side="bottom"
            alignment="end"
            *ngIf="category.Subcategories"
            [trigger]="'pop' + category.id"
            triggerAction="click"
          >
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item
                    lines="none"
                    *ngFor="let sub of category.Subcategories"
                    (click)="productFilter(category.id, sub.id)"
                  >
                    <ion-thumbnail slot="start">
                      <img
                        class="rounded-circle"
                        [alt]="sub.name"
                        src="{{ sub.image.url }}"
                      />
                    </ion-thumbnail>
                    <ion-label>{{ sub.name }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
