<ion-header>
  <ion-toolbar>

    <ion-button fill="clear" slot="start" (click)="navigateBack()"><ion-icon class="text-light" size="medium"
        name="arrow-back-outline"></ion-icon></ion-button>

    <ion-title class="fs-6"> My Listings </ion-title>

    <ion-button id="share-popover1" slot="end" color="light" class="d-sm-block d-none">
      <ion-icon class="me-2" name="share-social"></ion-icon> Share profile
    </ion-button>

    <ion-popover trigger="share-popover1" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-item lines="none" button detail="false" (click)="share('copy')">
            <ion-icon class="me-2" name="copy-outline"></ion-icon>
            <ion-label>Copy Link</ion-label>
          </ion-item>

          <ion-item button detail="false" lines="none" (click)="share('whatsapp')">
            <ion-icon style="color: #25d366" class="me-2" name="logo-whatsapp"></ion-icon>
            <ion-label>WhatsApp</ion-label>
          </ion-item>

          <ion-item button detail="false" lines="none" (click)="share('twitter')">
            <ion-icon style="color: #1da1f2" class="me-2" name="logo-twitter"></ion-icon>
            <ion-label>Twitter</ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<!-- <app-header [segmentValue]="pageTitle"></app-header> -->
<ion-content style="--padding-bottom: 50px" class="ion-padding">
  <ion-segment class="text-dark" [(ngModel)]="selectedCategory">
    <ion-segment-button class="text-dark" value="selling">
      Selling
    </ion-segment-button>
    <ion-segment-button class="text-dark" value="renting">
      Renting
    </ion-segment-button>
    <ion-segment-button class="text-dark" value="services">
      Services
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedCategory === 'selling'">
    <p class="text-dark m-0 mt-2">{{products?.length}} items Listed</p>

    <ng-container *ngIf="products?.length<1">
      <p class="text-dark mt-3 text-center">
        No listings available <br />
        <span class="text-danger">
          Click on the + button below to list an item
        </span>
      </p>
    </ng-container>

    <!-- <ion-list class="p-0" style="background: #f2f2f2">
     
    </ion-list> -->

    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let product of products">
        <ion-item lines="none">
          <ion-thumbnail class="h-100" slot="start">
            <img [src]="modifyImageUrl(product.image.url)" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="text-dark">{{ product.name }}</h2>
            <p class="text-secondary">{{product.description}}</p>
            <p class="text-secondary" *ngIf="!product.discount_percent">
              {{ product.price | currency : 'GH₵' }}
            </p>
            <p class="text-secondary" *ngIf="product.discount_percent">
              <span class="text-decoration-line-through me-2">{{ product.price | currency : 'GH₵' }}</span>
              <span>{{
                calculateDiscountedPrice(product.price,
                product.discount_percent) | currency : 'GH₵' }}</span>
            </p>
          </ion-label>

          <ion-buttons slot="end">
            <ion-button [routerLink]="['/list-product']" [queryParams]="{ product: product.id }">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="presentDeleteProductActionSheet(product.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div class="pt-2" *ngIf="selectedCategory === 'renting'">
    <ng-container *ngIf="userRentItems.length>0">
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let item of userRentItems">
          <ion-item lines="full">
            <!-- Display item details, e.g., item name, type, description, etc. -->
            <ng-container *ngIf="item.category=='Housing'">
              <ion-thumbnail class="h-100" slot="start">
                <img [src]="modifyImageUrl(item.bedroomImage.imageUrl)" />
              </ion-thumbnail>
              <ion-label class="text-dark">
                <h2 class="text-dark">
                  {{ item.houseRegionLocation }} Region, {{ item.houseLocation }}
                </h2>
                <p class="text-dark">{{ item.placeType }}</p>
                <p class="text-dark">{{ item.houseDescription }}</p>
                <!-- Add more item details as needed -->
              </ion-label>
              <ion-icon style="cursor: pointer;" color="danger" [id]="'housing-click-trigger'+item.id"
                name="ellipsis-vertical-circle-sharp"></ion-icon>
              <ion-popover [trigger]="'housing-click-trigger'+item.id" trigger-action="click"
                style="--background: transparent">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-item button="true" class="rounded" color="secondary" [routerLink]="['/rent-items-details']"
                      [queryParams]="{ item: 'house', id: item.id }">
                      <ion-icon class="me-1" name="eye-outline"></ion-icon>
                      <ion-label> View </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="primary"
                      (click)="presentRentItemsModalToMakeChanges(item,'housing')">
                      <ion-icon class="me-1" name="create-outline"></ion-icon>
                      <ion-label> Make Changes </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="danger"
                      (click)="deleteRentingItem(item.id,'Housing')">
                      <ion-icon class="me-1" name="trash"></ion-icon>
                      <ion-label> Delete </ion-label>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ng-container>

            <ng-container *ngIf="item.category=='Vehicles'">
              <ion-thumbnail class="h-100" slot="start">
                <img [src]="modifyImageUrl(item.frontImage.imageUrl)" />
              </ion-thumbnail>
              <ion-label class="text-dark">
                <h2 class="text-dark">
                  {{ item.regionLocation }} Region, {{ item.location }}
                </h2>
                <p class="text-dark">{{ item.vehicleType }}</p>
                <p class="text-dark">{{ item.tagline }}</p>
                <!-- Add more item details as needed -->
              </ion-label>

              <ion-icon style="cursor: pointer;" color="danger" [id]="'vehicle-click-trigger'+item.id"
                name="ellipsis-vertical-circle-sharp"></ion-icon>
              <ion-popover [trigger]="'vehicle-click-trigger'+item.id" trigger-action="click"
                style="--background: transparent">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-item button="true" class="rounded" color="secondary" [routerLink]="['/rent-items-details']"
                      [queryParams]="{ item: 'vehicle', id: item.id }">
                      <ion-icon class="me-1" name="eye-outline"></ion-icon>
                      <ion-label> View </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="primary"
                      (click)="presentRentItemsModalToMakeChanges(item,'vehicles')">
                      <ion-icon class="me-1" name="create-outline"></ion-icon>
                      <ion-label> Make Changes </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="danger"
                      (click)="deleteRentingItem(item.id,'Vehicles')">
                      <ion-icon class="me-1" name="trash"></ion-icon>
                      <ion-label> Delete </ion-label>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ng-container>

            <ng-container *ngIf="item.category=='Machinery'">
              <ion-thumbnail class="h-100" slot="start">
                <img [src]="modifyImageUrl(item.mainImage?.imageUrl)" />
              </ion-thumbnail>
              <ion-label class="text-dark">
                <h2 class="text-dark">
                  {{ item.regionalLocation }} Region, {{ item.location }}
                </h2>
                <p class="text-dark">{{ item.equipmentType }}</p>
                <p class="text-dark">{{ item.description }}</p>
              </ion-label>

              <ion-icon style="cursor: pointer;" color="danger" [id]="'machinery-click-trigger'+item.id"
                name="ellipsis-vertical-circle-sharp"></ion-icon>
              <ion-popover [trigger]="'machinery-click-trigger'+item.id" trigger-action="click"
                style="--background: transparent">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-item button="true" class="rounded" color="secondary" [routerLink]="['/rent-items-details']"
                      [queryParams]="{ item: 'machinery', id: item.id }">
                      <ion-icon class="me-1" name="create-outline"></ion-icon>
                      <ion-label> Edit </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="primary"
                      (click)="presentRentItemsModalToMakeChanges(item,'equipment')">
                      <ion-icon class="me-1" name="create-outline"></ion-icon>
                      <ion-label> Make Changes </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="danger"
                      (click)="deleteRentingItem(item.id,'Machinery')">
                      <ion-icon class="me-1" name="trash"></ion-icon>
                      <ion-label> Delete </ion-label>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ng-container>

            <ng-container *ngIf="item.category=='Event Items'">
              <ion-thumbnail class="h-100" slot="start">
                <img [src]="modifyImageUrl(item.mainImage?.imageUrl)" />
              </ion-thumbnail>
              <ion-label class="text-dark">
                <h2 class="text-dark">
                  {{ item.regionalLocation }} Region, {{ item.location }}
                </h2>
                <p class="text-dark">{{ item.eventItemType }}</p>
                <p class="text-dark">{{ item.description }}</p>
                <!-- Add more item details as needed -->
              </ion-label>
              <ion-icon style="cursor: pointer;" color="danger" [id]="'event-click-trigger'+item.id"
                name="ellipsis-vertical-circle-sharp"></ion-icon>
              <ion-popover [trigger]="'event-click-trigger'+item.id" trigger-action="click"
                style="--background: transparent">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-item button="true" class="rounded" color="secondary" [routerLink]="['/rent-items-details']"
                      [queryParams]="{ item: 'events', id: item.id }">
                      <ion-icon class="me-1" name="eye-outline"></ion-icon>
                      <ion-label> View </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="primary"
                      (click)="presentRentItemsModalToMakeChanges(item,'events and decor')">
                      <ion-icon class="me-1" name="create-outline"></ion-icon>
                      <ion-label> Make Changes </ion-label>
                    </ion-item>

                    <ion-item button="true" class="rounded mt-3" color="danger"
                      (click)="deleteRentingItem(item.id,'Event Items')">
                      <ion-icon class="me-1" name="trash"></ion-icon>
                      <ion-label> Delete </ion-label>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ng-container>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="userRentItems.length<1">
      <p class="text-dark mt-3 text-center">
        No listings available <br />
        <span class="text-danger">
          Click on the + button below to list an item
        </span>
      </p>
    </ng-container>
  </div>

  <div *ngIf="selectedCategory === 'services'">
    <ng-container *ngIf="userServicesListings.length>0">
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let item of userServicesListings">
          <ion-item lines="full">
            <ion-thumbnail class="h-100" slot="start">
              <img [src]="modifyImageUrl(item?.Portfolios[0]?.image.imageUrl)" />
            </ion-thumbnail>
            <ion-label class="text-dark">
              <h2 class="text-dark">{{ item.serviceType }}</h2>
              <p class="text-dark">{{ item.serviceCategory }}</p>
              <p class="text-dark">{{ item.description }}</p>
              <!-- Add more item details as needed -->
            </ion-label>
            <ion-icon style="cursor: pointer;" color="danger" [id]="'services-click-trigger'+item.id"
              name="ellipsis-vertical-circle-sharp"></ion-icon>
            <ion-popover [trigger]="'services-click-trigger'+item.id" trigger-action="click"
              style="--background: transparent">
              <ng-template>
                <ion-content class="ion-padding">
                  <ion-item button="true" class="rounded" color="secondary" [routerLink]="['/service-detail']"
                    [queryParams]="{ listingId: item.id }">
                    <ion-icon class="me-1" name="eye-outline"></ion-icon>
                    <ion-label> View </ion-label>
                  </ion-item>

                  <ion-item disabled button="true" class="rounded mt-3" color="primary"
                    (click)="presentRentItemsModalToMakeChanges(item,'housing')">
                    <ion-icon class="me-1" name="create-outline"></ion-icon>
                    <ion-label> Make Changes </ion-label>
                  </ion-item>

                  <ion-item button="true" class="rounded mt-3" color="danger" (click)="deleteServiceListing(item.id)">
                    <ion-icon class="me-1" name="trash"></ion-icon>
                    <ion-label> Delete </ion-label>
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="userServicesListings.length<1">
      <p class="text-dark mt-3 text-center">
        No listings available <br />
        <span class="text-danger">
          Click on the + button below to list an item
        </span>
      </p>
    </ng-container>
  </div>

  <!-- <ion-refresher style="background: #f2f2f2; height: 70px; z-index: 99;" class="py-2" slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: #1a4640">
      <ion-icon class="text-light" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="presentListServicesModal()" style="--background:#1A4640;" data-desc="Post A Service">
        <ion-icon class="text-light" name="briefcase"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentRentItemsModal()" style="--background: #1a4640" data-desc="Rent Your Items">
        <ion-icon class="text-light" name="key"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentListProductModal()" style="--background: #1a4640" data-desc="Sell Your Stuff">
        <ion-icon class="text-light" name="cash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>