
  .toast-container {
    display: flex;
    flex-direction: column !important;
  }


  // .modal-content {
  //   height: max-content !important;
  // }
  


ion-searchbar.custom {
    --background: #f2f2f2;
    --color: #1A4640;
    --placeholder-color: #1A4640;
    --icon-color: #1A4640;
    --clear-button-color: #1A4640;
  
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: #f2f2f2;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #1A4640;
  }

@media(max-width:530px){
    .products{
        column-count: 2;
    }
}

.product-item{
  cursor: pointer;
}

:host-context(.ios) {

  ion-toolbar#search{
    padding-top: 3%;
  }

}

div#container{
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  strong{
      font-size: 20px;
      line-height: 26px;
  }

  p{
      font-size: 16px;
      line-height: 22px;

      color: #8c8c8c;

      margin: 0;
  }
}

ion-infinite-scroll-content{
  --color:red;
}

.image-wrapper {
  height: 200px; /* Adjust the height as per your requirements */
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.image-wrapper::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.593);
  z-index: 0;
}

.image {
  height: 100%;
  width: auto;
  object-fit: cover;
  position: relative;
  z-index: 1;
  filter: blur(10px); /* Apply initial blur effect */
  transition: filter 0.5s ease-out;
}

.image.loaded {
  filter: blur(0); /* Remove blur effect after image is loaded */
}

header{
  background-color: #1a4640;
}

.pImages{
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.single-line-ellipsis {
  white-space: nowrap;      /* Prevents text from wrapping to the next line */
  overflow: hidden;         /* Hides the overflowing content */
  text-overflow: ellipsis;  /* Displays an ellipsis (...) to indicate overflow */
}
// 230,40,50

ion-skeleton-text{
  --background-rgb: 26, 70, 64;
}

swiper-slide{
  cursor: pointer;
}

swiper-slide:hover{
  border: 1px solid red;
}

.product{
  cursor: pointer;
}

.product:hover{
  border: 1px solid red;
}